https://www.kaggle.com/c/data-science-london-scikit-learn/submit

In [20]:
import pandas as pd
import numpy as np
import copy, time
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data-science-london-scikit-learn/'
df_train = pd.read_csv(data_path + 'train.csv', header=None)
df_test = pd.read_csv(data_path + 'test.csv', header=None)
df_trainLabel = pd.read_csv(data_path + 'trainLabels.csv', header=None)


print(f' training data shape : {df_train.shape} ')
print(f' training label shape : {df_trainLabel.shape} ')
print(f' testing data shape : {df_test.shape} ')

 training data shape : (1000, 40)
 training label shape : (1000, 1)
 testing data shape : (9000, 40)

In [23]:
# 檢查 DataFrame 空缺值的狀態
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data)) * 100
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' :data_na})
    display(missing_data.head(10))
na_check(df_train)
na_check(df_test)

Empty DataFrame
Columns: [Missing Ratio]
Index: []

Empty DataFrame
Columns: [Missing Ratio]
Index: []

In [24]:
df_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597,...,0.030651,0.022951,-0.542491,-0.011608,-0.483507,0.033371,0.567185,0.006849,-0.892659,0.609451
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520,...,1.011645,1.001375,2.239939,1.022456,2.121281,1.007044,2.227876,0.997635,2.022022,2.045439
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812,...,-3.379194,-2.971125,-7.840890,-2.999564,-7.124105,-2.952358,-5.452254,-3.473913,-8.051722,-7.799086
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220,...,-0.659457,-0.696032,-2.121943,-0.664550,-1.879247,-0.642861,-1.059786,-0.691162,-2.220126,-0.565041
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110,...,0.049416,0.049778,-0.568262,-0.028097,-0.493575,0.037732,0.455474,0.038284,-0.855470,0.779944
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364,...,0.747031,0.699917,0.939348,0.651374,1.005795,0.691800,2.122157,0.693535,0.388698,1.992193
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426,...,2.844792,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,3.492548,5.774120,6.803984

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

X, y = df_train, np.ravel(df_trainLabel)
clf = GradientBoostingClassifier
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.4)

In [44]:
from sklearn.ensemble import RandomForestClassifier
Random_forest = RandomForestClassifier()
Random_forest.fit(X_train, y_train)
Random_forest.predict(X_test)
print(Random_forest.score(X_test, y_test))

0.8

In [52]:
res = pd.DataFrame(Random_forest.predict(df_test))
res.columns = ['Solution']
res['Id'] = np.arange(1, res.shape[0]+1)
res = res[['Id', 'Solution']]
print(res)
res.to_csv('res_data-science-london-scikit-learn.csv', index=False)

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
5        6         0
6        7         0
7        8         0
8        9         0
9       10         0
10      11         1
11      12         1
12      13         1
13      14         0
14      15         0
15      16         0
16      17         0
17      18         0
18      19         0
19      20         1
20      21         0
21      22         1
22      23         0
23      24         1
24      25         1
25      26         1
26      27         1
27      28         0
28      29         1
29      30         0
...    ...       ...
8970  8971         0
8971  8972         0
8972  8973         1
8973  8974         1
8974  8975         1
8975  8976         1
8976  8977         1
8977  8978         1
8978  8979         1
8979  8980         1
8980  8981         1
8981  8982         1
8982  8983         0
8983  8984         1
8984  8985         0
8985  8986         1
8986  8987         0
8987  8988         0
8988  8989         1
8989  8990         1
8990  8991         0
8991  8992         0
8992  8993         0
8993  8994         1
8994  8995         0
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]